/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

html ,body {
  margin: 0;
  height: 100%;
  background-color: #eaf5ff; // Gris claro de Bootstrap
}

.row{
  margin: 0;
  width: 100%;
  display: flex;
}

.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.actived{
  border-bottom: 4px solid #848D00;
  padding-bottom: 4px;
}

.central{
  padding: 20px;
  margin-left: 150px;
  background: #eaf5ff;
}
.data{
  height: 195px;
}
.seguro{
  margin-top: -33px;
  background: #222326;
  position: absolute;
  height: 40px;
}

.navigation{
  text-align: center;
  padding-top: 15px;
  background: #1C1C1F;
  color: white;
  width: 125px;
  position: fixed;height: 100%;
}
.navigation a{
  color: #ddd;
  padding-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.navigation .bi{
  font-size: 25px;
  display: block;
  width: 100%;
}
.navigation a:hover{
  color: white;
}

#user_logged{
  background: #1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  width: 80%;
}

.image-logged{
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user_logged .user_image omg{
  width: 57px;
}

.page-link {
  color: #1c1c1f;
  border-color: #1c1c1f;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #1c1c1f;
  color: white;
}

.btn-logout{
  cursor: pointer;
}

.artist_image_for_edit img,
.album_image_for_edit img{
  width: 200px;
}

.artists-list,
.albums-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.artist-item,
.album-item{
  width: calc(25% - 20px);
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-bottom: 30px;
}
.album-item{
  height: 345px;
}

.artist-item .artist-image,
.album-item .album-image{
  height: 245px;
  width: 100%;
  overflow: hidden;
  background: black;
}

.artist-item .artist-image img{
  height: 100%;
  object-fit: cover;
}

.album-item .album-image img{
  height: 100%;
  object-fit: cover;
}

.artist-item .artist-name,
.album-item .album-name{
  color: white;
  padding: 10px;
  background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
  color: white;
  text-decoration: none;
}

#artist-head-card .image,
#album-head-card .image{
  width: 200px;
  height: 195px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}
#artist-head-card .image img,
#album-head-card .image img{
  width: 195px;
}

#album-head-card p{
  margin-bottom: 0px;
  height: 18px;
}

#album-head-card .btn{
  margin-top: 20px;
}

.album-name p {
  margin-bottom: 0px;
}

.buttons .btn {
  margin-right: 10px;
}

/* Cancones*/

#gallery-songs{
  margin-top: 30px;
}
.songs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Línea separadora entre canciones */
    transition: background-color 0.3s;
    width: auto;
}

.song-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.song-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.song-number {
    width: 30px; /* Ancho fijo para el número de la canción */
    text-align: center;
}

.song-name {
    flex-grow: 1; /* Toma el espacio restante */
    margin-left: 10px; /* Espacio entre el número y el nombre */
}

.song-album{
  width: 50%;
}

.song-duration {
    width: 15%; /* Ancho fijo para la duración */
    text-align: left; /* Alinear a la derecha */
}

.song-name .buttons {
    display: flex;
    gap: 5px; /* Espacio entre los botones */
}

.song-name .seguro {
    margin-top: 0; /* Ajustar la posición de los botones de confirmación */
    display: flex;
    gap: 5px; /* Espacio entre los botones de confirmación */
}
